
/* Auth container (Register) */
.auth-container {
    width: 100%;
    max-width: 550px;
    margin: 10px;
    padding: 20px;
    background-color: #020000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form {
    max-width: 450px;
    width: 100%;
}
.RegisterDV {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 45px;
}
/* Form styling */
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
.auth-form h2 {
    margin-bottom: 20px;
    color: white;
}

/* Input fields */
.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color:#fff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit button */
.auth-btn {
    padding: 10px;
    background-color: #947d52;
    width: 100%;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    font-weight: 700;
}

.auth-btn:hover {
    background-color:#ffd700;
    color: #000;
}

/* Redirect links */
.redirect-links {
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: white;
}
    .redirect-links a {
        color: #8c0000;
        text-decoration: none;
        font-size: 16px;
        padding-left: 16px;
        font-weight: 800;
    }
.redirect-links a:hover {
    text-decoration: underline;
}

/* Styles for responsive design */
@media (max-width: 600px) {
    .auth-container {
        width: 90%;
        padding: 15px;
    }

    .auth-form h2 {
        font-size: 20px;
    }

    .auth-btn {
        padding: 10px;
    }
}